* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
}

#news, #localisation, #presentation, #restaurant {
    margin-top: 60px;
    margin-bottom: 60px;
}
#localisation {
    position: relative;

    iframe {
        display: flex;
        margin: 0 auto;
        height: 80vh;
        width: 80%;
    }
    
}

#footer {
    position: relative;
    background: $midnight;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    grid-gap: 20px;
    box-shadow: 0px -1px 7px -1px rgba(97, 135, 245, 0.7);
    border-top: 6px solid $blue;
    p {
        margin: 0;
        line-height: 2;
        color: $white;
    }
    > [class*="footer"]:not(:nth-child(1n +2)) {
        display: inline-grid;
        justify-content: center;
        align-content: center;
    }
    .footer-image img {
        height: 50px;
    }
    .footer-menu ul {
        color: $white;
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        li {
            line-height: 1.8;
            a {
                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: $white;
                    transition: width .3s;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
    .footer-contact {
        button {
            margin-top: 5px;
        }
        p a {
            color: $dark_white;
        }
        i {
            margin-right: 6px;
        }
    }
    .footer-newsletter {
        grid-column: 2;
    }
    .createur {
        position: absolute;
        right: 5px;
        bottom: 5px;
        color: $dark_white;
        font-size: 12px;
        -webkit-user-select: none;
        -moz-user-select: none; 
        user-select: none;
    }
}

#restaurant {
    .grid-restaurant {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .image-restaurant {
            height: 50vh;
            background-size: cover;
            background-position: center;
        }
        .image-restaurant:first-child {
            background: url(https://media-cdn.tripadvisor.com/media/photo-w/0a/20/b7/12/fraisier-revisite.jpg);
        }
        .image-restaurant ~ .image-restaurant {
            background: url(https://media-cdn.tripadvisor.com/media/photo-w/07/9b/7e/06/les-amis-de-l-estaminet.jpg);
        }
        .desc-restaurant {
            padding: 30px;
            background: lighten($grey, 46%);
            box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.08);
            position: relative;
            h2 {
                color: $midnight;
            }
            p {
                text-align: justify;
                color: darken($grey, 20%);
            }
            i {
                font-size: 30px;
                margin-left: 7px;
                transition: 0.18s;
                &:hover {
                    opacity: 0.8;
                }
            }
            i[class*="facebook"] {
                color: #3b5998;
            }
            i[class*="twitter"] {
                color: #1da1f2;
            }
            i[class*="tripadvisor"] {
                color: #00af87;
            }
            i[class*="instagram"] {
                color: #833ab4;
            }
            .links-social.right {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
            .links-social.left {
                position: absolute;
                left: 10px;
                bottom: 10px;
            }
        }
    }
}