// Responsive
@media screen and (max-width: 1200px) {
    .button_container {
        visibility: visible;
    }
    .container .header.page {
        height: 49px;
    }
    .header__menu ul.main-menu {
        display: block;
    }
    .header__menu ul.main-menu li {
        visibility: hidden;
    }
    .header__menu ul.main-menu li.title {
        justify-content: initial;
        visibility: visible !important;
    }
    .header__menu ul.main-menu li.title img {
        height: 34px;
    }
    .header__menu ul.main-menu li.title a {
        text-decoration: none;
        color: #eaeaea;
        padding: 9px 0 0 6px;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
        font-size: 15px;
        line-height: 1.8;
    }
    .block-buttons {
        width: 70% !important;
    }
    .carousel-cell .button.suite {
        font-size: 15px;
    }
    .carousel-cell .text {
        font-size: 18px;
    }
    .carousel-cell:hover .text span.texte-article {
        font-size: 14px;
        margin-top: 17px;
    }
    .carousel-cell:hover .text a.title {
        font-size: 17px;
    }
    .carousel-cell:hover .text span.texte-article {
        font-size: 15px;
    }
    .carousel-cell:hover .text span.date {
        top: 61%;
    }
    .carousel-cell:hover .text .button.suite {
        top: 75%;
        transform: translate(-50%, -75%);
    }
}

@media screen and (max-height: 500px) {
    .container .header .block-buttons {
        margin-top: 0;
    }
    .header {
        overflow: hidden;
        &__title {
            margin-top: 0 !important;
        }
    }
    .overlay ul li a {
        font-size: 20px;
    }
}

@media screen and (max-height: 400px) {
    .overlay ul li a {
        padding-bottom: 0;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    #footer {
        display: block !important;
        >div {
            margin-bottom: 20px;
        }
    }
}