.carousel-cell {
  margin-right: 20px;
  overflow: hidden;

  img {
    display: block;
    height: 200px;
  }
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}